{% extends "KelpAppBundle::base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% include("@css/home.css.twig") %}
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('kelp.home') }}">Kelp</a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="row">
        {{ form_start(form, {
            'method': 'post',
            'action': path('fos_user_registration_register'),
            'attr': {'class': ' col-md-offset-4 col-md-4 form-signin'}}) }}
        {#fos_user_registration_register#}
        <h2 class="form-signin-heading">Login in</h2>
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}